<h3>Características da subcategoria: , da categoria: </h3>
<ul>
  <li>Não implementado - Características</li>
</ul>

<br />
<br />

<h3>Produtos</h3>
<ul>
  <li>-- Mostra todos os produtos daquela subcategoria --</li>
  <% @products.each do |product| %>
    <li><%= link_to "#{product.name}", '#' %></li>
  <% end %>
</ul>