<h3>Todas as Categorias</h3>
<ul>
	-- Mostra todas as características --
	<% @categories.each do |category| %>
		<li><%= link_to "#{category.name}", home_category_path(category) %></li>
	<% end %>
</ul>

<br />
<br />

<h3>Todos os Produtos</h3>
<ul>
	-- Mostra todos os produtos de todas as categorias --
	<% @products.each do |product| %>
		<li><%= link_to "#{product.name}", home_product_path(@category, @subcategory, product) %></li>
	<% end %>
</ul>