<h3>Categorias</h3>
<ul>
	<li>-- Mostra todas as características --</li>
	<% @categories.each do |category| %>
		<li><%= link_to "#{category.name}", categories_path(category) %></li>
	<% end %>
</ul>

<br />
<br />

<h3>Produtos</h3>
<ul>
	<li>-- Mostra todos os produtos de todas as categorias --</li>
	<% @products.each do |product| %>
		<li><%= link_to "#{product.name}", category_subcategory_product_path(@categories, @subcategories, product) %></li>
	<% end %>
</ul>