<h3>Categorias</h3>
<ul>
<% @categories.each do |category| %>
	<li><%= link_to "#{category.name}", category %></li>
<% end %>
</ul>

<br />
<br />

<h3>Produtos</h3>
<ul>
	<% @products.each do |product| %>
		<li><%= link_to "#{product.name}", product %></li>
	<% end %>
</ul>