<h3>Subategorias</h3>
<ul>
<% @subcategories.each do |subcategory| %>
  <li><%= link_to "#{subcategory.name}", "#" %></li>
<% end %>
</ul>

<br />
<br />

<h3>Produtos</h3>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to "#{product.name}", product %></li>
  <% end %>
</ul>